/**
 * Visually hide an element, but leave it available for screen readers
 */
.screen-reader-text {
  position: absolute;

  clip: rect(0 0 0 0 );
  clip-path: inset(50%);

  height: 1px;
  width: 1px;

  border: 0;
  margin: 0;
  padding: 0;

  overflow: hidden;
  white-space: nowrap;
}
