/**
 *  Very basic CSS reset
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

blockquote, pre {
  padding: 0.5rem 2rem;
}

/**
 *  Recommended CSS for syntax highlighting generation
 *
 */
pre {
  padding: 1rem;
  overflow: auto;
}

pre[data-linenos] {
  padding: 1rem 0;
}

pre table td {
  padding: 0;
}

pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}

pre mark {
  display: block;
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

/**
 *  May not need this but its a good practice for people that may want to print out code
 *  segments (such as to PDF) and need to be able to see the entirety of code segments.
 */
@media print {
  pre { white-space: pre-wrap; }
}
