@import "_pico.jade.min.css";
@import "_syntax-highlighting.css";

main {
  min-height: 20rem;
}

footer {
  font-size: 0.7rem;
}

.bio {
  overflow: auto;
}

.bio img {
  float: left;

  width: 10rem;
  height: 10rem;

  object-fit: cover;
  object-position: center 20%;

  margin-right: 1.5rem;
  margin-bottom: 1rem;

  border-radius: 50%;
}
