@import "_pico.jade.min.css";
@import "_syntax-highlighting.css";

main {
  min-height: 20rem;
}

footer {
  font-size: 0.7rem;
}

.bio {
  overflow: auto;
}

.bio img {
  float: left;

  width: 10rem;
  height: 10rem;

  object-fit: cover;
  object-position: center 20%;

  margin-right: 1.5rem;
  margin-bottom: 1rem;

  border-radius: 50%;
}

.lntable {
  margin-bottom: var(--pico-spacing);
}

.lntd > pre {
  margin-bottom: 0;
}

.lntd:first-child {
  width: 1%;
  white-space: nowrap;
}

.lntd:first-child code {
  padding-right: 0;
}

.lntd:last-child code {
  padding-left: 0;
}
