[submodule "public"]
  path = public
  url = git@github.com:sstelfox/stelfox.net.git
  branch = gh-pages
[submodule "themes/minimo"]
  path = themes/minimo
  url = https://github.com/MunifTanjim/minimo.git
  branch = master
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
