[submodule "public"]
  path = public
  url = git@github.com:sstelfox/stelfox.net.git
  branch = gh-pages
[submodule "themes/minimo"]
  path = themes/minimo
  url = https://github.com/MunifTanjim/minimo.git
  branch = master
