#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

# Handle processing of stylesheets
compile "/styles/_includes/*" do
  nil
end

compile "/styles/*" do
  filter :sass, syntax: :scss, style: :compact if item[:extension] == "scss"
end

route "/styles/_includes/*" do
  nil
end

route "/styles/*" do
  "/css/#{item.raw_content.checksum}.css"
end

# Handle processing of javascripts
compile "/javascripts/*" do
  item[:extension].split('.').reverse_each do |e|
    filter :coffeescript if e == "coffee"
    filter :erb if e == "erb"
  end

  # If mangling is enabled each javascript file needs to be self-contained as
  # coffee will not directly create top-level objects (the only thing excluded
  # from mangling)

  #filter :uglify_js, compress: true, mangle: false
  filter :uglify_js, mangle: false, output: { beautify: true, bracketize: true, semicolons: true }
end

route "/javascripts/*" do
  "/js/#{item.raw_content.checksum}.js"
end

# Yeah htaccess!
compile "/htaccess/" do
  nil
end

route "/htaccess/" do
  "/.htaccess"
end

compile "/sitemap" do
  # Remove items explicitely hidden, binary items and anything with an
  # extension that probably shouldn't be indexed by a search engine.
  items = @items.reject { |i| i.path.nil? || i[:is_hidden] || i.binary? }
  excluded_extensions = %w{ js css txt xml }
  items.reject! { |i| excluded_extensions.include?(i.path.split('.').last) }

  filter :erb, { locals: {sitemap_items: items } }
end

route "/sitemap" do
  "/sitemap.xml"
end

compile "/atom" do
  filter :erb
end

route "/atom" do
  "/atom.xml"
end

# Handle remaining items
excluded_extensions = %w{ txt xml }

compile "*" do
  if item.binary?
    # don’t filter binary items
  else
    item[:extension].split(".").reverse_each do |e|
      filter :erb if e == "erb"
      filter :redcarpet if e == "md"
    end

    layout "default" unless excluded_extensions.include?(item[:extension])
  end
end

route "/blog_posts/*" do
  time, slug = item[:created_at], item[:title].to_url
  "/blog/#{time.year}/#{sprintf("%02d", time.month)}/#{slug}/index.html"
end

route "*" do
  if item.binary? || excluded_extensions.include?(item[:extension])
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + "." + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + "index.html"
  end
end

layout "*", :erb

