<footer class="site-footer">
  <div class="container">
    {{- if .Site.Params.social }}
    <div class="social-links">
      {{- range .Site.Params.social }}
      <a href="{{ .url }}" title="{{ .name }}" rel="noopener noreferrer" target="_blank">{{ .name }}</a>
      {{- end }}
    </div>
    {{- end }}
    <div class="copyright">
      {{- if .Site.Copyright }}
      {{ replace .Site.Copyright "© 2008" (printf "© 2008-%s" (now.Format "2006")) }}
      {{- end }}
    </div>
  </div>
</footer>
