{{ define "head_extra" }}
{{- $notesCss := resources.Get "css/notes.css" | fingerprint }}
<link rel="stylesheet" href="{{ $notesCss.RelPermalink }}" integrity="{{ $notesCss.Data.Integrity }}">
{{- $isRecipe := false -}}
{{- with .CurrentSection }}{{ with .File }}{{ if eq .ContentBaseName "cooking" }}{{ $isRecipe = true }}{{ end }}{{ end }}{{ end -}}
{{- if $isRecipe }}
{{- $recipeCss := resources.Get "css/recipe.css" | fingerprint }}
<link rel="stylesheet" href="{{ $recipeCss.RelPermalink }}" integrity="{{ $recipeCss.Data.Integrity }}" crossorigin="anonymous">
{{- end }}
{{- if .Params.quiz }}
{{- $quizCss := resources.Get "css/quiz.css" | fingerprint }}
<link rel="stylesheet" href="{{ $quizCss.RelPermalink }}" integrity="{{ $quizCss.Data.Integrity }}" crossorigin="anonymous">
{{- end }}
{{ end }}

{{ define "main" }}
{{- $isRecipe := false -}}
{{- with .CurrentSection }}{{ with .File }}{{ if eq .ContentBaseName "cooking" }}{{ $isRecipe = true }}{{ end }}{{ end }}{{ end -}}
<div class="container">
  {{- partial "breadcrumbs.html" . -}}
  {{- if $isRecipe }}
  <article class="content recipe">
    <header class="content-header">
      <h1>{{ .Title }}</h1>
      {{- $hasValidDate := and .Date (not (eq (.Date.Format "2006") "0001")) -}}
      {{- $recipe := .Params.recipe -}}
      {{- if or $hasValidDate $recipe }}
      <div class="content-meta">
        {{- if $hasValidDate }}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
        {{- end }}
        {{- with $recipe }}
        {{- with .yield }}
        <span>{{ . }}</span>
        {{- end }}
        {{- with .prep_time }}
        <span>Prep: {{ . }}</span>
        {{- end }}
        {{- with .cook_time }}
        <span>Cook: {{ . }}</span>
        {{- end }}
        {{- end }}
      </div>
      {{- end }}
      {{- partial "tags.html" (dict "page" . "style" "badge") }}
    </header>

    {{- $instructionsMarker := `<h2 id="instructions">` -}}
    {{- $content := .Content -}}
    {{- if in $content $instructionsMarker }}
    {{- $parts := split $content $instructionsMarker -}}
    {{- $beforeInstructions := index $parts 0 -}}
    {{- $instructionsHTML := printf "%s%s" $instructionsMarker (index $parts 1) -}}

    {{- /* Split intro paragraphs from ingredient headings/lists.
           Find the first <h2 or <h3 in the pre-instructions content.
           Everything before that is "notes", everything from there on is ingredients. */ -}}
    {{- $notesHTML := "" -}}
    {{- $ingredientsHTML := $beforeInstructions -}}
    {{- $headingMatch := findRE `<h[23] id="` $beforeInstructions 1 -}}
    {{- if $headingMatch }}
      {{- $firstHeading := index $headingMatch 0 -}}
      {{- $splitParts := split $beforeInstructions $firstHeading -}}
      {{- $notesHTML = index $splitParts 0 -}}
      {{- $ingredientsHTML = printf "%s%s" $firstHeading (index $splitParts 1) -}}
    {{- end }}

    <div class="recipe-grid">
      <div class="recipe-ingredients-panel">
        {{ $ingredientsHTML | safeHTML }}
      </div>
      <div class="recipe-instructions-panel">
        {{- if $notesHTML }}
        <div class="recipe-notes">
          {{ $notesHTML | safeHTML }}
        </div>
        {{- end }}
        {{ $instructionsHTML | safeHTML }}
      </div>
    </div>
    {{- else }}
    <div class="content-body">
      {{ .Content }}
    </div>
    {{- end }}

    {{- with .Params.quiz }}
    {{- partial "quiz.html" $ }}
    {{- end }}
    {{- partial "related.html" . -}}
  </article>
  {{- else }}
  <article class="content">
    <header class="content-header">
      <h1>{{ .Title }}</h1>
      {{- $hasValidDate := and .Date (not (eq (.Date.Format "2006") "0001")) -}}
      {{- $hasValidLastmod := and .Lastmod (not (eq (.Lastmod.Format "2006") "0001")) -}}
      {{- $datesAreDifferent := and $hasValidDate $hasValidLastmod (ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02")) -}}
      {{- if or $hasValidDate $hasValidLastmod }}
      <div class="content-meta">
        {{- if $datesAreDifferent }}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">Created: {{ .Date.Format "2006-01-02" }}</time>
        <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">Updated: {{ .Lastmod.Format "2006-01-02" }}</time>
        {{- else if $hasValidLastmod }}
        <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.Format "2006-01-02" }}</time>
        {{- else }}
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
        {{- end }}
        <span class="reading-time">{{ .ReadingTime }} min read</span>
      </div>
      {{- end }}
      {{- $projectTag := partial "project-name.html" . -}}
      {{- if or .Params.tags (ne $projectTag "") }}
      {{- partial "tags.html" (dict "page" . "style" "badge") }}
      {{- end }}
    </header>

    {{- $toc := .TableOfContents -}}
    {{- if findRE "<li>" $toc }}
    <nav class="table-of-contents" aria-label="Table of contents">
      <details open>
        <summary>Table of Contents</summary>
        {{ $toc }}
      </details>
    </nav>
    {{- end }}

    <div class="content-body">
      {{ .Content }}
    </div>

    {{- with .Params.quiz }}
    {{- partial "quiz.html" $ }}
    {{- end }}
    {{- partial "related.html" . -}}
  </article>
  {{- end }}
</div>
{{ end }}

{{ define "scripts" }}
{{- if .Params.quiz }}
{{- $quizJs := resources.Get "js/quiz.js" | fingerprint }}
<script src="{{ $quizJs.RelPermalink }}" integrity="{{ $quizJs.Data.Integrity }}" defer></script>
{{- end }}
{{- if .Params.customJS }}
{{- range .Params.customJS }}
<script src="{{ . }}"></script>
{{- end }}
{{- end }}
{{ end }}
