---
title: Blog
---

<% sorted_articles.each do |post| %>
  <div class='post'>
    <h1><%= link_to post[:title], post.path %></h1>
    <aside class="post-date">Published <%= pretty_time_tag(post) %> by Sam Stelfox</aside>
    <article>
      <%= post.compiled_content(snapshot: :pre) %>
    </article>
  </div>
<% end %>
