---
title: Search
published: false
---
<form action="#" method="get" id="searchForm">
  <input type="text" name="query" />
  <input type="submit" value="Search" />
</form>
<div id="results"></div>
<script type="text/javascript" src="<%= @items['/javascripts/search_client/'].path %>"></script>
