---
title: Search
hidden: true
---
<h1>Search</h1>
<p><em>Please note this page is very much in a beta form.</em></p>
<form action="#" method="get" id="searchForm">
  <input type="text" name="q" />
  <input type="submit" value="Search" />
</form>
<div id="results"></div>
<script type="text/javascript" src="<%= @items['/javascripts/search_client/'].path %>"></script>
