{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{- if .Content }}
  <article>{{ .Content }}</article>
  {{ end -}}

  {{- $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <hr/>

    <ul>
    {{ range .Pages }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }} - {{ .Date.Format "Jan 2" }}</a></li>
    {{ end }}
    </ul>

    {{ range .Pages }}
    <section>
      <div>
        <div>
          <h2>{{ .LinkTitle }}</h2>
          <p>This is a sample paragraph with additional classes I probably can't control from the markdown renderer...</p>
          {{ .Summary }}
        </div>
        <a href="{{ .RelPermalink }}">Read More >></a>
      </div>
    </section>
    {{ end }}
  {{ end -}}

  {{ partial "pagination-list.html" . }}
{{ end }}
