<article class="listing {{ .Type }}">
  <header>
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
  </header>

  <section>
    <p>{{ .Summary }}</p>
  </section>

  <footer>
    {{ if .Truncated }}
    <a href="{{ .RelPermalink }}">Read More...</a> &mdash; {{ .FuzzyWordCount }} Words &mdash; About {{ .ReadingTime }} Minutes to Read
    {{ end }}
    <!-- Comment Count? -->
  </footer>
</article>
