{{ partial "header.html" . }}

<main role="main">
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <h3><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time> &mdash; {{ .FuzzyWordCount }} Words &mdash; About {{ .ReadingTime }} Minutes to Read</h3>
      {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </header>

    <section>
      {{ .Content }}
    </section>

    <footer>
      {{ $curPage := .RelPermalink }}
      {{ $siteSeries := .Site.Taxonomies.series }}{{ with .Params.series }}
        {{ range $name := . }}
          <h4>Posts in {{ $name }}:</h4>
          <!-- TODO -->
        {{ end }}
      {{ end }}
      <!-- TODO: Related posts, posts in the series, Next post, and previous post -->
      <!-- Comments Could Go Here -->
    </footer>
  </article>
</main>

{{ partial "footer.html" . }}
