{% macro article_info(page) %}
  <div class="article-info">
  {%- if page.date %}
    <span class="article-date">{{ page.date | date(format="%A, %B %-d, %Y") }}</span>
  {%- endif %}

  {%- if page.word_count %}
    <span class="article-word-count">{{ page.word_count }} words</span>
  {%- endif %}

  {%- if page.reading_time %}
    <span class="article-reading-time">{{ page.reading_time }} minutes</span>
  {%- endif %}

    {{- self::article_tag_list(page=page) }}
  </div>
{% endmacro article_info %}

{% macro article_listing(page) %}
  <article class="article-list">
    <header>
      <h1><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
      {{- self::article_info(page=page) -}}
    </header>

  {%- if page.description %}
    <div class="content article-description">{{ page.description }}</div>
  {% endif -%}
  </article>
{% endmacro article_listing %}

{% macro article_pagination(page) %}
  {%- if page.earlier or page.later %}
  <nav class="article-pagination">
    <div class="previous">
      {%- if page.earlier %}
      <a href="{{ page.earlier.permalink | safe }}">&lt; {{ page.earlier.title }}</a>
      {%- endif %}
    </div>

    <div class="next">
      {%- if page.later %}
      <a href="{{ page.later.permalink | safe }}">{{ page.later.title }} &gt;</a>
      {%- endif %}
    </div>
  </nav>
  {%- elif page.lighter or page.heavier %}
  <nav class="article-pagination">
    <div class="previous">
      {%- if page.lighter %}
      <a href="{{ page.lighter.permalink | safe }}">&lt; {{ page.lighter.title }}</a>
      {%- endif %}
    </div>

    <div class="next">
      {%- if page.heavier %}
      <a href="{{ page.heavier.permalink | safe }}">{{ page.heavier.title }} &gt;</a>
      {%- endif %}
    </div>
  </nav>
  {%- endif %}
{% endmacro article_pagination %}

{% macro article_tag_list(page) %}
  {% if page.taxonomies.tags -%}
  <ul class="article-tags">
  {%- for tag in page.taxonomies.tags %}
    <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a></li>
  {%- endfor %}
  </ul>
  {% endif -%}
{% endmacro article_tag_list %}

{% macro article_toc(page) %}
  {%- if page.toc and page.extra.show_toc %}
  <h2>Contents</h2>
  <nav>
    <ul>
    {%- for h1 in page.toc %}
      <li>
        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>

        {%- if h1.children %}
        <ul>
          {%- for h2 in h1.children -%}
          <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
          {%- endfor -%}
        </ul>
        {%- endif %}
      </li>
    {%- endfor %}
    </ul>
  </nav>
  {%- endif %}
{% endmacro article_toc %}
