{% macro opengraph_tags(page, article) %}
  {#- When present should always contain the og:title, og:type, og:url, and og:image tag -#}

  {%- if page %}
    <meta property="og:title" content="{{ page.title }}" />
  {%- endif %}
    <meta property="og:site_name" content="{{ config.title }}" />

  {%- if page.description %}
    <meta property="og:description" content="{{ page.description }}" />
  {%- endif %}

  {%- if current_url %}
    <meta property="og:url" content="{{ current_url | safe }}" />
  {%- endif %}

  {%- if page.extra.audio %}
    <meta property="og:audio" content="{{ page.extra.audio | safe }}" />
  {%- endif %}

  {%- if page.extra.image %}
    <meta property="og:image" content="{{ page.extra.image | safe }}" />
  {%- else %}
    <meta property="og:image" content="{{ get_url(path="logo.png") }}" />
  {%- endif %}

  {%- if page.extra.video %}
    <meta property="og:video" content="{{ page.extra.video | safe }}" />
  {%- endif %}

  {%- if article %}
    <meta property="og:type" content="article" />
    {% if page.extra.author %}
    <meta property="article:author" content="{{ page.extra.author }}" />
    {%- elif config.extra.author %}
    <meta property="article:author" content="{{ config.extra.author }}" />
    {%- endif %}

    {%- if page.date %}
    <meta property="article:published_time" content="{{ page.date | date(format="%+") }}" />
    {%- endif %}

    {%- if page.updated %}
    <meta property="article:modified_time" content="{{ page.updated | date(format="%+") }}" />
    {%- endif %}

    {%- if page.extra.expired %}
    <meta property="article:expiration_time" content="{{ page.extra.expired | date(format="%+") }}" />
    {%- endif %}

    {%- set ancestors = page.ancestors | default(value=[]) %}
    {%- set parent_path = ancestors | last %}

    {%- if parent_path %}
      {%- set parent_section = get_section(path=parent_path) %}
    <meta property="article:section" content="{{ parent_section.title }}" />
    {%- endif -%}

    {%- set page_tags = page.taxonomies.tags | default(value=[]) %}

    {%- for tag in page_tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {%- endfor %}
  {%- else %}
    <meta property="og:type" content="website" />
  {%- endif %}
{% endmacro opengraph_tags %}

{% macro theme_color_tags() %}
  {%- if config.extra.dark_theme_color and config.extra.light_theme_color %}
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ config.extra.dark_theme_color }}" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ config.extra.light_theme_color }}" />
  {%- elif config.extra.dark_theme_color %}
    <meta name="theme-color" dark)" content="{{ config.extra.dark_theme_color }}" />
  {%- elif config.extra.light_theme_color %}
    <meta name="theme-color" dark)" content="{{ config.extra.light_theme_color }}" />
  {%- endif %}
{% endmacro %}

{% macro twitter_card(page) %}
  {%- if page %}
    {#- image should only be present for meaningfully related images (not a logo / profile photo) #}
    {%- if page.extra.image %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ page.extra.image | safe }}" />
    {% else %}
    <meta name="twitter:card" content="summary" />
    {% endif -%}

    <meta name="twitter:title" content="{{ page.title }}" />

    {%- if page.description %}
    <meta name="twitter:description" content="{{ page.description }}" />
    {%- endif %}

    {%- if page.extra.author_twitter %}
    <meta name="twitter:creator" content="{{ page.extra.author_twitter }}" />
    {%- elif config.extra.author_twitter %}
    <meta name="twitter:creator" content="{{ config.extra.author_twitter }}" />
    {%- endif %}
  {%- endif %}
{% endmacro %}
