{{ define "main" }}
  <article class="justify-self-center mx-auto mb-16 px-6 sm:px-4 md:px-0 prose dark:prose-invert prose-slate lg:prose-lg hover:prose-a:text-sky-500">
  <h1>{{ .Title }}</h1>

  {{ if .Content }}
    <div>{{ .Content }}</div>
  {{ end }}


  {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <hr/>

    <ul>
    {{ range .Pages }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }} - {{ .Date.Format "Jan 2" }}</a></li>
    {{ end }}
    </ul>
  {{ end }}

  {{ partial "pagination-list.html" . }}
  </article>
{{ end }}
