<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en-US" }}">
<head>
  {{- partial "head.html" . -}}
  {{- block "head_extra" . }}{{- end }}
</head>
<body>
  {{- partial "header.html" . -}}
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}
  {{- partial "mathjax.html" . -}}
  {{- partial "mermaid.html" . -}}
  {{- $emojiCursor := resources.Get "js/emoji-cursor.js" | fingerprint }}
  {{- $fox := resources.Get "cursors/fox.svg" | fingerprint }}
  {{- $sunflower := resources.Get "cursors/sunflower.svg" | fingerprint }}
  {{- $bee := resources.Get "cursors/bee.svg" | fingerprint }}
  {{- $cookie := resources.Get "cursors/cookie.svg" | fingerprint }}
  <script src="{{ $emojiCursor.RelPermalink }}" integrity="{{ $emojiCursor.Data.Integrity }}" defer
    data-sam="{{ $fox.RelPermalink }}"
    data-hannah="{{ $sunflower.RelPermalink }}"
    data-zelda="{{ $bee.RelPermalink }}"
    data-cookie="{{ $cookie.RelPermalink }}"></script>
  {{- $randomPage := resources.Get "js/random-page.js" | fingerprint }}
  <script src="{{ $randomPage.RelPermalink }}" integrity="{{ $randomPage.Data.Integrity }}" defer></script>
  {{- block "scripts" . }}{{- end }}
</body>
</html>
