<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale | default "en-US" }}">
<head>
  {{- partial "head.html" . -}}
  {{- block "head_extra" . }}{{- end }}
</head>
<body>
  {{- partial "header.html" . -}}
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}
  {{- partial "mathjax.html" . -}}
  {{- partial "mermaid.html" . -}}
  {{- $emojiCursor := resources.Get "js/emoji-cursor.js" | fingerprint }}
  <script src="{{ $emojiCursor.RelPermalink }}" integrity="{{ $emojiCursor.Data.Integrity }}" defer></script>
  {{- block "scripts" . }}{{- end }}
</body>
</html>
