{{ define "main" }}
<div class="container">
  {{- partial "breadcrumbs.html" . -}}
  <article class="content">
    <header class="content-header">
      <h1>{{ .Title }}</h1>
    </header>

    {{- if .Content }}
    <div class="content-body">
      {{ .Content }}
    </div>
    {{- end }}

    {{- if .Pages }}
    <section class="page-list">
      <ul class="post-list">
        {{- range .Pages }}
        <li class="post-item">
          <time class="post-date">{{ .Date.Format "2006-01-02" }}</time>
          <a href="{{ .RelPermalink }}" class="post-link">
            <span class="post-title">{{ .Title }}</span>
            {{- partial "tags.html" (dict "page" . "style" "delimit") }}
          </a>
        </li>
        {{- end }}
      </ul>
    </section>
    {{- end }}
  </article>
</div>
{{ end }}
