{{ define "main" }}
<div class="container">
  {{- partial "breadcrumbs.html" . -}}
  <article class="content">
    <header class="content-header">
      <h1>{{ .Title }}</h1>
      {{- $isBlogPost := or (eq .Section "blog") (eq .Section "projects") -}}
      {{- $hasValidDate := and .Date (not (eq (.Date.Format "2006") "0001")) -}}
      {{- if and $isBlogPost $hasValidDate }}
      <div class="content-meta">
        <span class="content-author">{{ .Site.Params.author }}</span>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
        <span class="reading-time">{{ .ReadingTime }} min read</span>
        {{- if .Params.tags }}
        <span class="tags">
          {{- range .Params.tags }}
          <span class="tag">{{ . }}</span>
          {{- end }}
        </span>
        {{- end }}
      </div>
      {{- else if .Params.tags }}
      <div class="content-meta">
        <span class="tags">
          {{- range .Params.tags }}
          <span class="tag">{{ . }}</span>
          {{- end }}
        </span>
      </div>
      {{- end }}
    </header>

    <div class="content-body">
      {{ .Content }}
    </div>

    {{- partial "related.html" . -}}
  </article>
</div>
{{ end }}

{{ define "scripts" }}
{{- if .Params.customJS }}
{{- range .Params.customJS }}
<script src="{{ . }}"></script>
{{- end }}
{{- end }}
{{ end }}
