{{ define "main" }}
<div class="container">
  {{- partial "breadcrumbs.html" . -}}
  <article class="content">
    <header class="content-header">
      <h1>{{ .Title }}</h1>
    </header>

    {{- if .Content }}
    <div class="content-body">
      {{ .Content }}
    </div>
    {{- end }}

    {{- $paginator := .Paginate (.Pages.ByLastmod.Reverse) }}
    {{- if $paginator.Pages }}
    <section class="page-list" id="posts">
      <ul class="post-list">
        {{- range $paginator.Pages }}
        {{- partial "post-list-item.html" (dict "page" .) }}
        {{- end }}
      </ul>

      {{- partial "pagination.html" (dict "paginator" $paginator "label" "Tag pagination") }}
    </section>
    {{- end }}
  </article>
</div>
{{ end }}
