{{ define "main" }}
<div class="container">
  {{- partial "breadcrumbs.html" . -}}
  <article class="content">
    <header class="content-header">
      <h1>{{ .Title }}</h1>
    </header>

    {{- if .Content }}
    <div class="content-body">
      {{ .Content }}
    </div>
    {{- end }}

    {{- $paginator := .Paginate (.Pages.ByLastmod.Reverse) 9 }}
    {{- if $paginator.Pages }}
    {{- partial "paginated-cards.html" (dict "pages" $paginator.Pages "label" "Tag pagination" "anchor" "posts") }}
    {{- partial "pagination.html" (dict "paginator" $paginator "label" "Tag pagination") }}
    {{- end }}
  </article>
</div>
{{ end }}
