$background_clr: #09223F;
$foreground_clr: #FFEFFF;
$border_clr: #888;
$line_no_background: #EFEFEF;
$line_no_foreground: #888;
$entity_clr: #FFDD00;
$keyword_clr: #FF9D00;
$constant_clr: #FF628C;
$string_clr: #3AD900;
$comment_clr: #0088FF;
$regex_clr: #80FFC2;
$variable_clr: #CCCCCC;

.CodeRay {
  background-color: $background_clr;
  color: $foreground_clr;
  border: 1px solid $border_clr;
  /*padding: 3px 5px;*/
  overflow: auto;
  font: bold 13px/1em 'Courier New', 'Terminal', monospace;
  margin: 12px 10px;

  pre {
    margin: 0px;
    padding: 10px;
  }

  span { white-space: pre; border: 0px; padding: 2px; }

  table { 
    border-collapse: collapse; width: 100%; padding: 2px; 
    td { padding: 2px 4px; vertical-align: top; }
  }

  .line-numbers {
    background-color: $line_no_background;
    a {
      color: $line_no_foreground;
      text-decoration: none;
      &:target { color: blue !important; }
    }

    .highlighted { 
      color: red !important; 
      a { color: red !important; }
    }
  }

  span.line-numbers { padding: 0px 4px; }
  .line { display: block; float: left; width: 100%; }

  .code { 
    width: 100%; 
    pre { overflow: auto; }
   }

  .debug { color: white !important; background: blue !important; }

  .annotation { color:#007 }
  .attribute-name { color:#b48 }
  .attribute-value { color:#700 }
  .binary { color:#509 }

  .char { 
    color:#D20;
    .content { color:#D20 }
    .delimiter { color:#710 }
  }

  .class { color:$entity_clr; }

  .class-variable { color:#369 }
  .color { color:#0A0 }

  .comment { 
    color:$comment_clr;
    .char { color:#444 }
    .delimiter { color:#444 }
  }

  .complex { color:#A08 }
  .constant { color:$constant_clr; font-weight:bold }
  .decorator { color:#B0B }
  .definition { color:#099; font-weight:bold }
  .delimiter { color:black }
  .directive { color:#088; font-weight:bold }
  .doc { color:#970 }
  .doc-string { color:#D42; font-weight:bold }
  .doctype { color:#34b }
  .entity { color:#800; font-weight:bold }
  .error { color:#F00; background-color:#FAA }
  .escape  { color:#666 }
  .exception { color:#C00; font-weight:bold }
  .float { color:$constant_clr }

  .function { color:$entity_clr; }

  .global-variable { color:#d70 }
  .hex { color:#02b }
  .imaginary { color:#f00 }
  .include { color:#B44; font-weight:bold }
  .inline { background-color: hsla(0,0%,0%,0.07); color: black }
  .inline-delimiter { font-weight: bold; color: #666 }
  .instance-variable { color:#33B }
  .integer  { color:$constant_clr }

  .key { 
    color: #606;
    .char { color: #60f }
    .delimiter { color: #404 }
  }

  .keyword { color:$keyword_clr; font-weight:bold }

  .label { color:#970; font-weight:bold }
  .local-variable { color:$variable_clr }
  .namespace { color:#707; font-weight:bold }
  .octal { color:#40E }
  .operator { }
  .predefined { color:#369; font-weight:bold }
  .predefined-constant { color:#069 }
  .predefined-type { color:#0a5; font-weight:bold }
  .preprocessor { color:#579 }
  .pseudo-class { color:#00C; font-weight:bold }

  .regexp { 
    .content, .delimiter { color:$regex_clr }
    .modifier { color:#C2C }
  }

  .reserved { color:#080; font-weight:bold }

  .shell { 
    background-color:hsla(120,100%,50%,0.06); 
    .content { color:#2B2 }
    .delimiter { color:#161 }
  }

  .string { 
    background-color:hsla(0,100%,50%,0.05); 
    .char { color: #b0b }
    .content, .delimiter { color: $string_clr; }
    .modifier { color: #E40 }
  }

  .symbol { 
    color:#A60;
    .content { color:#A60 }
    .delimiter { color:#630 }
  }

  .tag { color:#070 }
  .type { color:#339; font-weight:bold }
  .value { color: #088; }
  .variable  { color:#037 }

  .insert { 
    background: hsla(120,100%,50%,0.12);
    .eyecatcher { background-color: hsla(120,100%,50%,0.2); border: 1px solid hsla(120,100%,25%,0.5); margin: -1px; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
    .insert { color: #0c0; background:transparent; font-weight:bold }
  }

  .delete { 
    background: hsla(0,100%,50%,0.12);
    .eyecatcher { background-color: hsla(0,100%,50%,0.2); border: 1px solid hsla(0,100%,45%,0.5); margin: -1px; border-bottom: none; border-top-left-radius: 5px; border-top-right-radius: 5px; }
    .delete { color: #c00; background:transparent; font-weight:bold }
  }

  .change { 
    color: #bbf; background: #007; 
    .change { color: #88f }
  }

  .head { 
    color: #f8f; background: #505;
    .filename { color: white; }
    .head { color: #f4f }
  }
}
table.CodeRay {
  width: auto;
}

#main .example {
  width: 960px;
  overflow: auto;
}

#main .CodeRay pre {
  font-size: 13px ! important;
  line-height: 15px;
}
