
$bg_color:   #000000;
$font_color: #f8f8f8;

.CodeRay {
  background-color: $bg_color;
  color: $font_color;
  font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  padding: 1em 0px 1em 1em;

  pre {
    margin: 0px;
  }

  .line-numbers, .no {
    background-color: #ececec;
    color:            #aaaaaa;
    text-align:       right;
  }

  .line-numbers {
    a {
      color: #aaa;
    }

    tt {
      font-weight: bold;
    }

    .highlighted {
      color: #ff0000;
    }
  }

  .line { display: block; float: left; width: 100%; }
  .code { width: 100%; }

  .code pre { overflow: auto; }
  .debug { color:white ! important; background:blue ! important; }

  .annotation { color:#007 }
  .attribute-name { color:#f08 }
  .attribute-value { color:#700 }
  .binary { color:#509; font-weight: bold; }
  .comment  { color:#5F5A60;}
  .char { color:#04D }
  .char .content { color:#04D }
  .char .delimiter { color:#039 }
  .class { color:#9B703F; font-weight: bold; }
  .complex { color:#A08; font-weight: bold; }
  .constant { color:#9B5C2E; }
  .color { color:#0A0 }
  .class-variable { color:#7587A6 }
  .decorator { color:#B0B; }
  .definition { color:#099; font-weight: bold; }
  .directive { color:#088; font-weight: bold; }
  .delimiter { color: black; }
  .doc { color:#970 }
  .doctype { color:#34b }
  .doc-string { color:#D42; font-weight: bold; }
  .escape  { color:#666; font-weight: bold; }
  .entity { color:#800; font-weight: bold; }
  .error { color:#F00; }
  .exception { color:#C00; font-weight: bold; }
  .filename { color:#099; }
  .function { color:#dacf85; }
  .global-variable { color:#9a859c; font-weight: bold; }
  .hex { color:#058; font-weight: bold; }
  .integer  { color:#ddf2a3; }
  .include { color:#B44; font-weight: bold; }
  .inline { color: #DAEFA3 }
  .inline .inline {  }
  .inline .inline .inline {  }
  .inline .inline-delimiter { color: #DAEFA3; }
  .inline-delimiter { color: #D14; }
  .important { color:#f00; }
  .interpreted { color:#B2B; font-weight: bold; }
  .instance-variable { color:#7587A6 }
  .label { color:#970; font-weight: bold; }
  .local-variable { color:#963 }
  .octal { color:#40E; font-weight: bold; }
  .operator { }
  .predefined-constant {  font-weight: bold; }
  .predefined { color:#369; font-weight: bold; }
  .preprocessor { color:#579; }
  .pseudo-class { color:#00C; font-weight: bold; }
  .predefined-type { color:#074; font-weight: bold; }
  .reserved, .keyword  { color:#CDA869; font-weight: bold; }

  .key { color: #808; }
  .key .delimiter { color: #606; }
  .key .char { color: #80f; }
  .value { color: #088; }

  .regexp .content { color:#808 }
  .regexp .delimiter { color:#404 }
  .regexp .modifier { color:#C2C }
  .regexp .function  { color:#404; font-weight: bold; }

  .string { color: #8F9D6A; }
  .string .string {  }
  .string .string .string {  }
  .string .content { color: #8F9D6A; }
  .string .char { color: #8F9D6A; }
  .string .delimiter { color: #8F9D6A; }

  .shell { color:#D14 }
  .shell .content { }
  .shell .delimiter { color:#D14 }

  .symbol { color:#CF6A4C }
  .symbol .content { color:#A60 }
  .symbol .delimiter { color:#630 }

  .tag { color:#070 }
  .tag-special { color:#D70; font-weight: bold; }
  .type { color:#339; font-weight: bold; }
  .variable  { color:#036 }

  .insert { background: #afa; }
  .delete { background: #faa; }
  .change { color: #aaf; background: #007; }
  .head { color: #f8f; background: #505 }

  .insert .insert { color: #080; font-weight: bold; }
  .delete .delete { color: #800; font-weight: bold; }
  .change .change { color: #66f; }
  .head .head { color: #f4f; }

  span.line-numbers {
    padding: 0px 4px;
  }
}

div.CodeRay {
}

span.CodeRay {
  border:      0px;
  padding:     2px;
  white-space: pre;
}

table.CodeRay {
  border-collapse: collapse;
  padding:         2px;
  width:           100%;

  td {
    padding:        1em 0.5em;
    vertical-align: top;
  }
}

ol.CodeRay {
  font-size: 10pt;

  li {
    white-space: pre;
  }
}

