/* CSS functionality for menu toggle */
input#nav-toggle:checked~label#show-button {
  display: none;
}

input#nav-toggle:checked~label#hide-button {
  display: flex;
}

input#nav-toggle:checked~#nav-menu {
  display: block;
}
