
/* Attribute selector */
[class*='col-'] {
  float:   left;
  padding: 10px;
}

/* Floats last ".bit-" to the right */
[class*='col-']:last-of-type {
  padding-right: 10px;
  float:         right;
}

/* Clearfix */
.row:after {
  content:  "";
  display:  table;
  clear:    both;
}

/* The various column sizes */
.col-1  { width:   8.3333333333%; }
.col-2  { width:  16.6666666667%; }
.col-3  { width:  25%; }
.col-4  { width:  33.3333333333%; }
.col-5  { width:  41.6666666667%; }
.col-6  { width:  50%; }
.col-7  { width:  58.3333333333%; }
.col-8  { width:  66.6666666666%; }
.col-9  { width:  75%; }
.col-10 { width:  83.3333333333%; }
.col-11 { width:  91.6666666666%; }
.col-12 { width: 100%; }

/* Base tablet to small desktop styles */
@media (min-width: 800px) and (max-width: 1100px) {
  // Todo
}

/* Base tablet styles */
@media (max-width: 800px) {
  // Todo
}

/* Base mobile styles - Everything 100% */
@media (max-width: 480px) {
  .bit-1, .bit-2, .bit-3, .bit-4, .bit-5, .bit-6, .bit-7, .bit-8, .bit-9,
  .bit-10, .bit-11, .bit-12 {
    width: 100%;
  } 
}

