
*, *:after, *:before {
  margin:  0;
  padding: 0;

  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

