
/*
@import '_includes/reset.scss';
@import '_includes/grid.scss';
@import '_includes/icon-fonts.scss';
@import '_includes/coderay.scss';
*/

/*
TODO:
- Style <nav>
- Style forms (especially search)
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color:            #454441;
  font-family:      'Open Sans', Helvetica, Arial, sans-serif;
  font-size:        16px;
  line-height:      1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:    500;
  line-height:    1.25;
  margin:         0 0 10px;
  text-rendering: optimizeLegibility;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; margin-top: 20px; }
h3 { font-size: 24px; margin-top: 24px; }
h4, h5, h6 { font-size: 16px; margin-top: 16px; }

p { margin: 0 0 15px; }

.lead {
  font-size: 20px;
  font-weight: 300;
}

ul, ol { margin-bottom: 15px; }
li { color: #888580; }

hr {
  border: 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #eee;
  margin: 40px 0;
  position: relative;
}

strong {
  color: #222;
}

abbr {
  background-color: #eee;
  border-radius: 3px;
  color: #555;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 3px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

code, pre {
  border-radius: 3px;
  font-family: Menlo, Monaco, 'Courier new', monospace;
  font-size: 14px;
  padding: 0 3px 2px;
}

code {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  color: #d14;
  padding: 2px 4px;
}

font > code {
  color: inherit;
}

pre {
  background-color: #eee;
  display: block;
  line-height: 28px;
  margin: 0 0 14px;
  padding: 15px 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  background-color: transparent;
  border: 0;
  color: inherit;
  padding: 0;
}

.highlight {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
}

.highlight pre {
  margin-bottom: 0;
}

blockquote {
  border-left: 5px solid #eee;
  margin: 15px 30px 15px 0;
  padding: 0 0 0 20px;
}

blockquote p {
  color: #7a7a7a;
  margin-bottom: 0;
  text-indent: -0.4em;
}

blockquote p:before { content: '\201C'; }
blockquote p:before { content: '\201D'; }

img {
  border-radius: 5px;
  display: block;
  margin: 0 0 15px;
}

a {
  font-weight: 600;
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav ul {
  list-style: none;
  margin-left: none;
  padding-left: 0em;
}

aside {
  margin-bottom: 1em;
}

.masthead {
  color: #fff;
  background-color: #2a2a2a;
}

.masthead h1 {
  margin-top: 0;
  font-family: 'Alegreya SC';
}

.masthead a { color: #fff; }
.masthead h1 a { font-weight: normal; }
.masthead h1 a:hover { text-decoration: none; }
.masthead .lead { margin-bottom: 0; }

.masthead-inner { padding: 20px; }

.colophon {
  color: #7a7a7a;
  margin-top: 20px;
}

.colophon-links {
  list-style: none;
  padding-left: 0;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.post {
  margin-bottom: 40px;
  margin-top: 40px;
}

.post-date {
  color: #9a9a9a;
  display: block;
  margin: -10px 0 10px;
}

.post img {
  max-width: 100%;
}

.related, .featured {
  border-top: 1px solid #eee;
  padding-top: 40px;
}

.related-posts {
  list-style: none;
}

.related-posts li small {
  color: #999;
  font-size: 75%;
}

.related-posts li a:hover {
  color: #000;
  text-decoration: none;
}

.related-posts li a:hover small {
  color: #555;
}

.featured .tagline {
  color: #999;
  display: block;
  font-size: 75%;
  margin-left: 1em;
}

.fourohfour {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pagination {
  border-top: 1px solid #eee;
  color: #cccc;
  font-weight: bold;
  margin-top: 40px;
  overflow: hidden;
  text-align: center;
}

.pagination a,
.pagination span {
  float: left;
  padding: 20px;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pagination a:first-child,
.pagination span:first-child {
  border-right: 1px solid #eee;
}

.pagination a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}

@media (min-width: 768px) {
  .masthead-inner {
    padding: 40px;
  }

  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 990px) {
  nav ul li {
    display: inline-block;
    margin-right: 1em;
  }
}

@media (min-width: 990px) {
  body {
    font-size: 18px;
  }

  .lead {
    font-size: 24px;
  }

  .container {
    margin-left: 35%;
    margin-right: 10%;
    width: 55%;
  }

  .masthead {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    margin-bottom: 0;
  }

  .masthead-inner {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .masthead h1 {
    font-size: 64px;
  }

  .colophon {
    margin-top: 40px;
  }

  /* Remove mobile device padding from list of posts */
  .posts {
    margin-left: 0;
    margin-right: 0;
  }

  /* Increase space between posts */
  .post {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  /* Make pagination stand alone */
  .pagination {
    margin-bottom: 60px;
    border: 1px solid #eee;
  }

  nav ul li {
    padding-left: 0em;
    padding-bottom: 0.5em;
  }
}

