
@import '_includes/reset.scss';
@import '_includes/grid.scss';
@import '_includes/icon-fonts.scss';
@import '_includes/opensans.scss';
@import '_includes/coderay.scss';

body {
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.1em;
}

