{% extends "base.html" %}

{% import "macros/article.html" as article_macros %}

{% block title %}{{ config.title }} - {{ page.title }}{% endblock title %}

{% block content %}
  <article>
    <header>
      <h1>{{ page.title }}</h1>

      {{ article_macros::article_info(page=page) }}

      {% if page.toc and page.extra.show_toc %}
        <h2>Contents</h2>
        <nav>
          <ul>
            {% for h1 in page.toc %}
              <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>

                {% if h1.children %}
                  <ul>
                    {% for h2 in h1.children %}
                      <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </header>

    <main>
      {{ page.content | safe }}
    </main>

    <footer>
      {% if page.taxonomies.tags %}
        <ul>
          {% for tag in page.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </footer>
  </article>
{% endblock content %}
