{{- $page_scripts := (default slice .Params.scripts) -}}

{{- if .Store.Get "has_mermaid" -}}
  {{- $page_scripts = $page_scripts | append "js/mermaid-10.9.1.dist.min.js" -}}
{{- end -}}

{{- if (default false .Params.math) -}}
  {{- $page_scripts = $page_scripts | append "js/mathjax.tex-svg.dist.min.js" -}}

  {{- $mathjax_cfg := resources.Get "js/mathjax.cfg.js" -}}
  {{- $mathjax_cfg = $mathjax_cfg | resources.Fingerprint -}}
  <script type="text/javascript" src="{{ $mathjax_cfg.RelPermalink }}" integrity="{{ $mathjax_cfg.Data.Integrity }}" defer></script>
{{- end }}

{{- range $src := $page_scripts }}
  {{- $script := resources.Get $src -}}
  {{- $script = $script | resources.Fingerprint -}}
  <script type="text/javascript" src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
{{- end }}
