<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {%- if config.extra.dark_theme_color and config.extra.light_theme_color %}
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ config.extra.dark_theme_color }}" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ config.extra.light_theme_color }}" />
    {%- elif config.extra.dark_theme_color %}
    <meta name="theme-color" dark)" content="{{ config.extra.dark_theme_color }}" />
    {%- elif config.extra.light_theme_color %}
    <meta name="theme-color" dark)" content="{{ config.extra.light_theme_color }}" />
    {%- endif %}

    {%- if section.title %}
    <meta property="og:title" content="{% block og_title %}{{ section.title }}{% endblock og_title %}" />
    {%- elif page.title %}
    <meta property="og:title" content="{% block og_title %}{{ page.title }}{% endblock og_title %}" />
    {%- endif %}

    {%- if section.description %}
    <meta name="og:description" content="{{ section.description }}" />
    {%- elif page.description %}
    <meta name="og:description" content="{{ page.description }}" />
    {%- endif %}

    {#- 404 page does not have current URL #}
    {% if current_url -%}
    <meta property="og:url" content="{{- current_url | safe -}}" />
    {%- endif -%}

    {%- if page -%}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ page.title }}" />
      {%- if page.extra.author_twitter %}
    <meta name="twitter:creator" content="{{ page.extra.author_twitter }}" />
      {%- elif config.extra.author_twitter %}
    <meta name="twitter:creator" content="{{ config.extra.author_twitter }}" />
      {%- endif %}
      {%- if page.description %}
    <meta name="twitter:description" content="{{ page.description }}" />
      {%- endif %}
      {%- if page.extra.image %}
    <meta property="twitter:image" content="{{ page.extra.image | safe }}" />
    <meta property="og:image" content="{{ page.extra.image | safe }}" />
      {%- endif %}
      {%- if page.extra.audio %}
    <meta property="og:audio" content="{{ page.extra.audio | safe }}" />
      {%- endif %}
      {%- if page.extra.video %}
    <meta property="og:video" content="{{ page.extra.video | safe }}" />
      {%- endif %}
    <meta property="og:type" content="article" />
      {%- if page.extra.author %}
    <meta property="article:author" content="{{ page.extra.author }}" />
      {%- elif config.extra.author %}
    <meta property="article:author" content="{{ config.extra.author }}" />
      {%- endif %}
      {%- if page.ancestors %}
      {%- set parent_path = page.ancestors | last %}
      {%- set parent_section = get_section(path=parent_path) %}
    <meta property="article:section" content="{{ parent_section.title }}" />
      {%- endif -%}
      {%- if page.date %}
    <meta property="article:published_time" content="{{ page.date | date(format="%+") }}" />
      {%- endif -%}
      {%- if page.updated %}
    <meta property="article:modified_time" content="{{ page.updated | date(format="%+") }}" />
      {%- endif -%}
      {%- if page.extra.expired %}
    <meta property="article:expiration_time" content="{{ page.extra.expired | date(format="%+") }}" />
      {%- endif -%}
      {%- if page.taxonomies.tags %}
        {%- for tag in page.taxonomies.tags %}
    <meta property="article:tag" content="{{ tag }}" />
        {%- endfor -%}
      {%- endif -%}
    {%- else -%}
    <meta property="og:type" content="website" />
    {%- endif %}
    <meta property="og:site_name" content="{{- config.title -}}" />

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% if current_url -%}
    <link rel="canonical" href="{{ current_url | safe }}" />
    {%- endif -%}

    {# whitespace placeholder #}
    {% if config.generate_feed -%}
    <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="{{ config.title }}" href="{{ get_url(path=config.feed_filename) | safe }}" />
    {%- endif -%}

    {% if paginator and paginator.previous -%}
    <link rel="prev" title="{{ section.title }} &mdash; Archive Page {{ paginator.current_index - 1 }}" href="{{ paginator.previous | safe }}" />
    {%- elif page.earlier %}
    <link rel="prev" title="{{ page.earlier.title }}" href="{{ page.earlier.permalink | safe }}" />
    {%- elif page.lighter %}
    <link rel="prev" title="{{ page.lighter.title }}" href="{{ page.lighter.permalink | safe }}" />
    {%- endif -%}

    {% if paginator and paginator.next -%}
    <link rel="next" title="{{ section.title }} &mdash; Archive Page {{ paginator.current_index + 1 }}" href="{{ paginator.next | safe }}" />
    {%- elif page.later %}
    <link rel="next" title="{{ page.later.title }}" href="{{ page.later.permalink | safe }}" />
    {%- elif page.heavier %}
    <link rel="next" title="{{ page.heavier.title }}" href="{{ page.heavier.permalink | safe }}" />
    {%- endif -%}

    {# whitespace placeholder #}
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}"  {# integrity="sha384-{{ get_file_hash(path="site.css", sha_type=384, base64=true) | safe }}" #}/>
  </head>
  <body>
    <header>
      <div>
        <div class="title">
          <h1><img class="logo" src="{{ get_url(path="logo.png") }}" alt="" /><a href="{{ config.base_url | safe }}">{{ config.title }}</a></h1>
        {% if config.description -%}
          <h2>{{ config.description }}</h2>
        {%- endif %}
        </div>

        <nav>
          <ul>
          {%- for item in config.extra.top_menu %}
            {%- set link_url = item.url | replace(from="$BASE_URL", to=config.base_url) %}
            {%- set root_url = config.base_url ~ '/' %}

            {%- if current_url and current_url == link_url %}
              {%- set is_active = true %}
            {%- elif link_url != root_url and current_url and current_url is starting_with(link_url) %}
              {%- set is_active = true %}
            {%- else %}
              {%- set is_active = false %}
            {%- endif %}
            <li><a {% if is_active %}class="active" {% endif %}href="{{- link_url | safe -}}">{{- item.name -}}</a></li>
          {%- endfor %}
          </ul>
        </nav>

        <form method="get" action="{{ get_url(path="@/search.md") }}">
          <fieldset>
            <label class="hidden" for="s">Site Search</label>
            <input type="text" id="d" name="s" value="" placeholder="Search..." />
            <button type="submit">Search</button>
          </fieldset>
        </form>
      </div>
    </header>

    {%- block content %}
    {%- endblock content %}

    <footer>
      <div class="copyright">
        <p>&copy; 2011 &ndash; {{ now() | date(format="%Y") }} Sam Stelfox.</p>
      </div>
    </footer>

    <script src="{{ get_url(path="site.js") }}" integrity="sha384-{{ get_file_hash(path="site.js", sha_type=384, base64=true) | safe }}"></script>
  </body>
</html>
