{% import "macros/article.html" as article_macros %}

<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% if config.generate_feed %}
      <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="{{ config.title }}" href="{{ get_url(path=config.feed_filename) | safe }}" />
    {% endif %}

    <link rel="canonical" href="{{ current_url | safe }}" />
    <link rel="shortcut icon" href="/favicon.ico" />

    {% if page.earlier %}
      <link rel="prev" title="{{ page.earlier.title }}" href="{{ page.earlier.permalink | safe }}" />
    {% endif %}
    {% if page.later %}
      <link rel="next" title="{{ page.later.title }}" href="{{ page.later.permalink | safe }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}" media="all" />

    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <header>
      <div>
        <div class="title">
          <h1><img class="logo" src="/logo.png" /><a href="{{ config.base_url | safe }}">{{ config.title }}</a></h1>
          <h2>{{ config.description }}</h2>
        </div>

        <nav>
          <ul>
            {% for item in config.extra.top_menu %}
              {% set link_url = item.url | replace(from="$BASE_URL", to=config.base_url) %}
              <li><a {% if current_url and current_url == link_url %}class="active" {% endif %}href="{{ link_url | safe }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>

        <form method="get" action="#">
          <fieldset>
            <label class="hidden" for="s">Site Search</label>
            <input type="text" id="d" name="s" value="" placeholder="Search site..." />
            <button type="submit">Search</button>
          </fieldset>
        </form>
      </div>
    </header>

    <main>
        {% block content %}

        {{ section.content | safe }}

        {% if paginator.pages %}
        {% for page in paginator.pages %}
          {{ article_macros::article_listing(page=page) }}
        {% endfor %}
        {{ article_macros::article_pagination(page=section) }}
        {% endif %}

        {% endblock content %}
    </main>

    <footer>
      <div class="copyright">
        <p>&copy; 2011 &ndash; {{ now() | date(format="%Y") }} Sam Stelfox. Blog posts, notes, code, and config samples are available for redistribution under my <a href="{{ get_url(path="@/licenses.md") }}">site licenses</a> unless otherwise specified.</p>
      </div>

      {% block footer %}
      {% endblock footer %}
    </footer>

    {% block js_body %}
    {% endblock js_body %}
  </body>
</html>
