<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% if config.generate_feed %}
      <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="{{ config.title }}" href="{{ get_url(path=config.feed_filename) | safe }}" />
    {% endif %}

    <link rel="canonical" href="{{ current_url | safe }}" />
    <link rel="shortcut icon" href="/favicon.ico" />

    {% if paginator and paginator.previous %}
      <link rel="prev" title="{{ section.title }} &mdash; Archive Page {{ paginator.current_index - 1 }}" href="{{ paginator.previous | safe }}" />
    {% elif page.earlier %}
      <link rel="prev" title="{{ page.earlier.title }}" href="{{ page.earlier.permalink | safe }}" />
    {% endif %}

    {% if paginator and paginator.next %}
      <link rel="next" title="{{ section.title }} &mdash; Archive Page {{ paginator.current_index + 1 }}" href="{{ paginator.next | safe }}" />
    {% elif page.later %}
      <link rel="next" title="{{ page.later.title }}" href="{{ page.later.permalink | safe }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}" />
  </head>
  <body>
    <header>
      <div>
        <div class="title">
          <h1><img class="logo" src="{{ get_url(path="static/logo.png") }}" /><a href="{{ config.base_url | safe }}">{{ config.title }}</a></h1>
          <h2>{{ config.description }}</h2>
        </div>

        <nav>
          <ul>
            {% for item in config.extra.top_menu %}
              {% set link_url = item.url | replace(from="$BASE_URL", to=config.base_url) %}
              {% set root_url = config.base_url ~ '/' %}

              {% if current_url == link_url %}
                {% set is_active = true %}
              {% elif link_url != root_url and current_url is starting_with(link_url) %}
                {% set is_active = true %}
              {% else %}
                {% set is_active = false %}
              {% endif %}
              <li><a {% if is_active %}class="active" {% endif %}href="{{ link_url | safe }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>

        <form method="get" action="{{ get_url(path="@/search.md") }}">
          <fieldset>
            <label class="hidden" for="s">Site Search</label>
            <input type="text" id="d" name="s" value="" placeholder="Search..." />
            <button type="submit">Search</button>
          </fieldset>
        </form>
      </div>
    </header>

    <main>
      {% block content %}
      {% endblock content %}
    </main>

    <footer>
      <div class="copyright">
        <p>&copy; 2011 &ndash; {{ now() | date(format="%Y") }} Sam Stelfox.</p>
      </div>
    </footer>

    {% block extra_javascript %}
    {% endblock extra_javascript %}
  </body>
</html>
