{% extends "base.html" %}

{% import "macros/article.html" as article_macros %}

{%- block title -%}
  {{ section.title }} &mdash; {{ config.title }}
{%- endblock title -%}

{%- block content %}
  {{ section.content | safe }}

  {# TODO: I don't know if I need both of these here... #}
  {% if paginator %}
    {% set pages = paginator.pages %}
  {% else %}
    {% set pages = section.pages %}
  {% endif %}

  {% for page in pages %}
    {{ article_macros::article_listing(page=page) }}
  {% endfor %}
{%- endblock content %}
